name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        php: [8.3, 8.4, 8.5]
        laravel: ['12.*']
        testbench: ['10.*']
        dependency-version: [prefer-lowest, prefer-stable]

    name: Tests P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'yarn'

    - name: Install Node.js dependencies
      run: yarn install --prefer-offline --no-audit --progress=false

    - name: Install playwright browsers
      run: yarn playwright install chromium --with-deps

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: dom, mbstring, zip, fileinfo, imagick
        coverage: none

    - name: Install ghostscript (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get -y install ghostscript

    - name: Install ghostscript (macOS)
      if: runner.os == 'macOS'
      run: brew install ghostscript

    - name: Install ghostscript (Windows)
      if: runner.os == 'Windows'
      run: choco install ghostscript

    - name: Get Composer cache directory
      id: composer-cache
      shell: bash
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: dependencies-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-${{ matrix.dependency-version }}-${{ hashFiles('composer.json') }}
        restore-keys: |
          dependencies-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-
          dependencies-php-${{ matrix.php }}-

    - name: Install Composer dependencies
      shell: bash
      run: |
        composer require "illuminate/contracts:${{ matrix.laravel }}" --no-interaction --no-update
        composer require "orchestra/testbench:${{ matrix.testbench }}" --dev --no-interaction --no-update
        composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist -W

    - name: Integration Tests
      run: php ./vendor/bin/pest
